In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\paceh\OneDrive\Documents\Important\Final Project\df_1.csv")

In [4]:
df.head()

,Unnamed: 0,Entity,Year,Records,Organization type,Method,Sources
0,0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,1,500px,2020,14870304,social networking,hacked,[7]
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9]
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,4,Adobe Inc.,2019,7500000,tech,poor security,[11][12]

In [5]:
df.tail()

,Unnamed: 0,Entity,Year,Records,Organization type,Method,Sources
347,347,Zynga,2019,173000000,social network,hacked,[406][407]
348,348,Unknown agency(believed to be tied to United S...,2020,200000000,financial,accidentally published,[408]
349,349,National Health Information Center (NCZI) of S...,2020,391250,healthcare,poor security,[409]
350,350,50 companies and government institutions,2022,6400000,various,poor security,[410] [411]
351,351,IKEA,2022,95000,retail,accidentally published,[412]

In [6]:
df.isnull().any()

Unnamed: 0           False
Entity               False
Year                 False
Records               True
Organization type    False
Method                True
Sources               True
dtype: bool

In [7]:
df.isnull().sum()

Unnamed: 0           0
Entity               0
Year                 0
Records              2
Organization type    0
Method               1
Sources              2
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.isnull().any()

Unnamed: 0           False
Entity               False
Year                 False
Records              False
Organization type    False
Method               False
Sources              False
dtype: bool

In [10]:
df.drop(columns=['Sources'])

,Unnamed: 0,Entity,Year,Records,Organization type,Method
0,0,21st Century Oncology,2016,2200000,healthcare,hacked
1,1,500px,2020,14870304,social networking,hacked
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked
4,4,Adobe Inc.,2019,7500000,tech,poor security
...,...,...,...,...,...,...
347,347,Zynga,2019,173000000,social network,hacked
348,348,Unknown agency(believed to be tied to United S...,2020,200000000,financial,accidentally published
349,349,National Health Information Center (NCZI) of S...,2020,391250,healthcare,poor security
350,350,50 companies and government institutions,2022,6400000,various,poor security
351,351,IKEA,2022,95000,retail,accidentally published